/impl/target/
/service/target/
/domain/target/
/jpa/target/
/datasource/target/
/ui-controller/target/
/ui/target/
/domain/.settings/
/datasource/.settings/
/.settings/
/service/.settings/
/impl/.settings/
/jpa/.settings/
/ui-controller/.settings/
/ui/.settings/