<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.show_sql">false</property>
        <property name="hibernate.format_sql">false</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        
        <mapping class="id.web.martinusadyh.logbook.domain.Category" />
        <mapping class="id.web.martinusadyh.logbook.domain.Module" />
        <mapping class="id.web.martinusadyh.logbook.domain.SignOn" />
        
        <mapping class="id.web.martinusadyh.logbook.domain.trx.LogBookHeader" />
        <mapping class="id.web.martinusadyh.logbook.domain.trx.LogBookDetails" />
        
        <mapping class="id.web.martinusadyh.logbook.domain.utility.EmailTemplate" />
        
        <!-- security -->
        <mapping class="id.web.martinusadyh.logbook.domain.security.UserProfile" />
        <mapping class="id.web.martinusadyh.logbook.domain.security.Role" />
        <mapping class="id.web.martinusadyh.logbook.domain.security.Permission" />
    </session-factory>
</hibernate-configuration>
