.icon-edit {
    background-image: url(../images/edit.png);
}

.icon-save {
    background-image: url(../images/save.gif);
}

.icon-cancel {
    background-image: url(../images/cancel.png);
}

.icon-delete {
    background-image: url(../images/delete.png);
}

.icon-email {
    background-image: url(../images/mail.gif);
}
